[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beanie = "*"
fastapi = "*"
geojson-pydantic = "*"
email-validator = "*"
uvicorn = "*"
python-dotenv = "*"
python-multipart = "*"
aiofiles = "*"
mergedeep = "*"

[dev-packages]

[requires]
python_version = "3.10"
